.App {
  --main-bg-color: #1F324F;
  --nav-bg-color: #141c2b;
  --secondary-bg-color: #5D7A8F;
  --tertiary-bg-color: #F5F2EE;
  --accent-bg-color: #D4A373;
  text-align: left;
  min-height: 100vh;
  padding: 0px;
}