.MemoLedger {
    background-color: var(--main-bg-color);
    background-image: radial-gradient(var(--secondary-bg-color) 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: var(--nav-bg-color);
    background-image: radial-gradient(var(--secondary-bg-color) 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    color: var(--tertiary-bg-color);
}